**/__pycache__
*.pyc
.docker-volumes
cm1_cert.p12

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

**/npm-debug.log*
.env
**/*.pem
**/*firebase*.json
credentials.json
*.zip

# pycharm
.idea
supervisord.log
env